body {
  background: linear-gradient(217deg, rgb(255 200 200 / 80%), rgb(255 200 200 / 0%) 70.71%),
  linear-gradient(127deg, rgb(200 255 200 / 80%), rgb(200 255 200 / 0%) 70.71%),
  linear-gradient(336deg, rgb(200 200 255 / 80%), rgb(200 200 255 / 0%) 70.71%);
  font-family: Lusitana, serif;
}

.wrap {
  margin: 0 auto;
  width: 80%;
  height: 100dvh;
  text-align: center;
  align-items: center;
  background-color: rgb(255 255 255);
}

#header {
  width: 200px;
  height: 80px;
  margin: 0 auto;
}

.title {
  margin: 20px 0;
  width: 200px;
  height: 60px;
}